/*
 * Osano Consent Banner Overrides
 * Loaded last via astro.config customCss to override framework styles.
 */

.osano-cm-dialog,
.osano-cm-dialog a {
  background-color: #333;
  color: var(--tiger-white) !important;
}

.osano-cm-dialog--type_bar .osano-cm-button {
  width: 100% !important;

  @media only screen and (min-width: 640px) {
    width: auto !important;
  }
}

.osano-cm-content__link {
  font-size: 12px !important;
  font-weight: normal !important;
}

.osano-cm-buttons__button {
  font-family: 'PP Mori', sans-serif;
  font-weight: 700;
  color: var(--tiger-white);
  outline: 0px;
  border: none;
  background-color: transparent;
  &:hover {
    color: var(--tiger-electric-yellow);
  }

  @media (max-width: 768px) {
    max-width: unset !important;
    width: 100% !important;
  }
}

.osano-cm-dialog__buttons {
  display: flex;
  justify-content: center !important;
  flex-wrap: nowrap;
  width: 600px !important;
  gap: 16px;
  max-width: unset !important;
  margin-left: 32px !important;

  @media (max-width: 1200px) {
    flex-direction: column;
    min-width: unset !important;
    flex: 1 !important;
    width: 300px !important;
  }
  @media (max-width: 768px) {
    width: 100% !important;
    align-items: center;
    margin: unset !important;
  }
}

.osano-cm-dialog__content {
  font-size: 12px;
  line-height: 1.4;
  max-width: 65%;

  @media (max-width: 1200px) {
    flex: 3 !important;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    padding-bottom: 16px;
    text-align: center;
    & > span {
      display: block;
      padding: 0px;
      margin: 0;
    }
  }
}

.osano-cm-window__widget {
  display: none;
}

.osano-cm-dialog__close {
  margin-right: 8px;
  margin-top: 8px;
  &:focus {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  svg {
    stroke: var(--tiger-white);
  }
}

.osano-cm-window__dialog {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'PP Mori', sans-serif !important;
  color: var(--tiger-white);
  padding: 16px 40px;

  justify-content: space-between !important;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.osano-cm-button {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 700;
  width: auto !important;
  margin: 0 !important;
  color: var(--tiger-white);
  outline: 0px;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 6px 2px !important;
  border-radius: 1.5rem !important;
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

.osano-cm-accept-all {
  background: var(--tiger-white);
  color: var(--tiger-grey-900);

  &:hover {
    color: var(--tiger-grey-900);
    background: var(--tiger-white);
  }
}

.osano-cm-denyAll {
  background: #333 !important;
  border: 1px solid var(--tiger-white) !important;

  &:hover {
    color: var(--tiger-white);
    background: hsla(0, 0%, 100%, 0.2) !important;
  }
}

.osano-cm-save {
  background-color: var(--tiger-grey-900) !important;
  width: 100% !important;
  padding: 0.25rem 0.5rem !important;
}

.osano-cm-info-dialog-header__close {
  transform: none;
  transition: none;
  &:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    stroke: var(--tiger-grey-500);
    stroke-width: 1px;
  }

  &:hover {
    stroke: var(--tiger-grey-900) !important;
    stroke-width: 1px;
  }
}

.osano-cm-toggle__switch {
  background-color: var(--tiger-grey-300);
  &::after {
    background-color: var(--tiger-white);
  }
  &::before {
    background-color: var(--tiger-grey-300);
    inset: 0;
  }

  &:focus {
    border: none;
  }
}

.osano-cm-toggle__input:checked + .osano-cm-toggle__switch {
  background-color: var(--tiger-vivid-purple);
  border-color: var(--tiger-vivid-purple);
  &::before {
    background-color: var(--tiger-vivid-purple) !important;
  }
}

.osano-cm-toggle__input:checked:hover + .osano-cm-toggle__switch,
.osano-cm-toggle__input:checked:focus + .osano-cm-toggle__switch {
  background-color: var(--tiger-vivid-purple);
  border-color: var(--tiger-vivid-purple);
}

.osano-cm-toggle__input:disabled:checked + .osano-cm-toggle__switch {
  background-color: var(--tiger-vivid-purple);
  border-color: var(--tiger-vivid-purple);
  &::before {
    background-color: var(--tiger-vivid-purple) !important;
  }
}

.osano-cm-toggle__input:disabled:checked:hover + .osano-cm-toggle__switch,
.osano-cm-toggle__input:disabled:checked:focus + .osano-cm-toggle__switch {
  background-color: var(--tiger-vivid-purple);
  border-color: var(--tiger-vivid-purple);
}

.osano-cm-toggle__input:disabled:checked + .osano-cm-toggle__switch::after,
.osano-cm-toggle__input:disabled:checked:focus
  + .osano-cm-toggle__switch::after,
.osano-cm-toggle__input:disabled:checked:hover
  + .osano-cm-toggle__switch::after {
  background-color: var(--tiger-vivid-purple);
}

.osano-cm-toggle__input:focus + .osano-cm-toggle__switch::before {
  border-color: transparent !important;
}

.osano-cm-toggle__label {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
}

.osano-cm-view__button {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  background: var(--tiger-vivid-purple);
  color: var(--tiger-white);
  font-weight: 700;
  &:hover {
    background: #6446fb;
  }
}

.osano-cm-description {
  color: var(--tiger-grey-700);
  font-family: Inter;
}

.osano-cm-info-dialog-header__header {
  font-size: 20px;
  line-height: 24px;
  color: var(--tiger-grey-900);
  font-weight: 700;
}

.osano-cm-view--type_consent .osano-cm-list-item:nth-child(5) {
  display: none;
}
